body{
	background-image: 
	url("/images/nuetral.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
h1 {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li{
	float: left;
	list-style-type: none;
	
	text-decoration-style: none;
}
footer{
	padding-top: 30%;
	text-align: center;
}