<!DOCTYPE html>
<html>
<head>
	<title>Dangerous Animals Review</title>
</head>
<link rel="stylesheet" href="/css/style.css" />
<body>
	<header>
        <div class="row">
        <ul class ="main-nav">
        <li th:each="review : ${reviews}">
			<a th:href="|@{/reviews/}${review.movieId}|">
			<span th:text = "${review.name}"></span>
			</a>
		</li>
                      
        </ul>

        </div>

        <div class="hero">
        <h1>Worlds Most Dangerous Animals</h1>
        </div>
    </header>
	
	
		
	
</body>
</html>
